<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,400&family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <meta name="Viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <header class="header">
        <div class="header-top-bar">
            <div class="logo-barra"><a href="/"><img class="logo" src="/img/logo.png" width="360" alt="logo training" ></a>
                <div class="search-bar">
                <form action="search">
                <input type="text" name="search" class="form-search" placeholder="Buscar productos">
                </form>
                <div><i class="fas fa-search"></i></div>
            </div></div>
            
            <nav class="main-navbar">
                <ul class="left-navbar" >
                    <li><a href="/productodetalle">Categoria1</a></li>
                    <li><a href="/productodetalle">Categoria2</a></li>
                    <li><a href="/productodetalle">Categoria3</a></li>  
                </ul>
                <ul class="right-navbar">
                    <li><a href="/login">Usuario <i class="fas fa-user"></i></a></li>
                    <li><a href="#">Favorito <i class="fas fa-heart"></i></a></li>
                    <li><a href="/cart">Carrito <i class="fas fa-shopping-basket" ></i></a></li>
                </ul>
            </nav>
        </div>    
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        
        </header>

        <main>
        <div class="crea">CREA TU CUENTA</div>
            
            <form action="/register" method="POST" class="register">
                
                <div class="form-control">
                    <label for="">Nombre y Apellido</label>
                    <input type="text" name="fullname">
                </div>

                <div class="form-control">
                    <label for="">Email</label>
                    <input type="email" name="email">
                </div>

                <div class="form-control">
                    <label for="">Fecha de nacimiento</label>
                    <input type="date" name="">
                </div>

                
                <div class="form-control">
                    <label for="">Contraseña</label>
                    <input type="password" name="password" placeholder="Debe contener 8 caracteres y un numero">
                </div>

                <div class="form-control">
                    <label for="">Repetir Contraseña</label>
                    <input type="password" name="repassword">
                </div>

                <div class="buttons"><button type="submit" class="enviar">Registrate</button>
                <button type="reset" class="borrar">Borrar</button></div>
            </form>
        </main>


        <footer>
            <div class="footer">
            <article class="pie-de-pagina">
                <div class="logo-footer"><a href="/"><img src="/img/logo.png" alt="" class=".rot90"></a></div>
            
                <article class="sub-titulo">
                    <div class="enlaces-1">Links de interés</div>
                    <ul class="enlaces">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="#">Categorias</a></li>
                        <li><a href="#">Sobre Nosotros</a></li>
                        
                        </ul>
                
                </article>        
                <article class="sub-titulo"  >
                    <div class="enlaces-2">Contactanos</div> 
                        <ul class="enlaces">
                        <li><a href="#">Envianos un correo</a></li>
                        <li><a href="#">Por teléfono</a></li>
                        <li>Calle Nombre Calle NumeroAltura, Buenos Aires</li>
                        </ul>
                
                </article>
                <article class="iconos">
                    <section class="de-iconos" >
                    <div>Seguinos en nuestras Redes Sociales</div>
                     
                        <ul>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
                    </section>
                </article>
            </div>   
               <div class="copy">
                    <section class="de-copy">    
                        <div>Copyright&copy; 2023 Training</div>
                    </section> 
                </div>
            
        </footer>
       
    </body>
    </html>